* {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin: 0; - to reset */
}


/* Implement a dark mode toggle and create alternate styles for dark mode. */
.App {
  background-color: #f5f5f5;
  color: #222;
}


.app-dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}


.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}


.dark-mode-toggle > button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: inherit;
  transition: transform 0.3s ease; 
}


.dark-mode-toggle button:hover {
  transform: scale3d(1.2, 1.2, 1);
}


.head-top {
  display: grid;
  grid-template-rows: 150px auto;
}


.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}


.form-header > form {
  width: 40%;
}

.form-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tag {
  font-size: 12px;
  background-color: rgb(8, 124, 116);
  font-weight: 300;
  padding: 4px 10px; 
  margin-right: 10px;
}


.tag:focus {
  outline: none;
  border: 2px;
  box-shadow: 0 0 5px rgba(0, 77, 145, 0.5);
}


.tag:active {
  outline: none;
  border: 2px;
  box-shadow: 0 0 5px rgba(145, 0, 0, 0.893);
}


.bot-in {
  font-size: 23px;
  font-weight: 400;
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}


.bot-in:focus {
 outline:none;
 border: 2px solid #007bff;
 box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
 /* animation: pulse 2s ease infinite; infinite means it loops forever */
 animation: pulse 0.6s ease;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    transform: scale(0.98);
  }
}


.bot-in:active {
 border: 2px solid #28a745;
 box-shadow: 0 0 6px rgba(40, 167, 69, 0.5);
}


.job-status {
  font-size: 12px;
  font-weight: 300;
  border: 1px solid #999;
  width: 135px;
  height: 20px;
  padding: 0px 5px;
}

.submit-data {
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  background-color: brown;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.submit-data:hover {
  background-color:  rgb(8, 124, 85);
  border: 2px solid gray;
  transform: scale(1.05);
}

.submit-data:active {
 border: 2px solid orange;
 box-shadow: 0 0 6px rgba(83, 11, 29, 0.5);
 box-shadow: 0 0 6px rgba(40, 167, 69, 0.5);


}
/* Header func styling */

.header-func {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0px 0px 0px;
  padding: 30px 8%;
}

.column1 {
  width: 33.33%;
  background-color: #f8d7da;
  margin: 40px;
  border-left: 2px solid green;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
} 