.jobColumn-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}


.jobColumn-form input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.jobColumn-form input:focus {
 outline: none;
 box-shadow: 0 0 5px rgba(red, green, blue, alpha);
 border: 2px solid blue;
 animation: pulse 0.6s ease-in-out;
}


.jobColumn-form button {
  padding: 6px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}