.search-bar {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-bar:focus {
outline: none;
box-shadow: 0 0 5px rgba(red, green, blue, 0.5);
border: 2px solid rgb(8, 8, 22);
animation: pulse 0.3s ease;
}

button {
  padding: 6px 12px;
  font-weight: 400;
  border: 1px solid black;
  margin-left: 3px;
  border-radius: 4px;
  cursor: pointer;
}