
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin: 0; - to reset */
}

/* Column styles */

.header-func {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 1.5rem;
  flex: 1;
  padding: 1rem;
}


.column1 {
  width: 432px;
  height: 260px;
  border-radius: 6px;
  margin: 40px;
  transition: backround-color 0.8s ease, transform 0.6s ease;
}


.status-image {
  width: 44px;
  height: 44px;
}

footer {
  background-color: #222;
  margin-top: auto;
  color: white;
  text-align: center;
  padding: 10px;
} 